<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="TreeWalker">       
    <module name="cz.sumaj.pv260.checks.BrainMethodCheck">
      <property name="maxLinesOfCode" value="15"/>
      <property name="maxCyclomaticComplexity" value="3"/>
      <property name="maxNestingLevel" value="3"/>
      <property name="maxNumberOfVariables" value="5"/>
    </module>
  </module>
</module>